.boards-page {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 24px;
}

.templates-section,
.user-boards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.templates-section h3,
.user-boards h3 {
  font-size: 18px;
  font-weight: 600;
}

.templates-section p {
  color: #64748b;
  font-size: 14px;
}

.template-cards,
.user-board-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin-top: 8px;
}

.workspace-info {
  display: flex;
  align-items: center;
  gap: 12px;
}
.workspace-header-01 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
  margin-right:20px;
}

.board-search input {
    padding: 4px 8px;
    width: 250px;
    border-radius: 4px;
    border: 1px solid #a0a2a5;
    font-size: 18px;
    outline: none;
}

.board-search input:focus {
    box-shadow: 0 0 0 2px rgba(12, 102, 228, 0.15);
}
.board-search p {
  color:black;
  font-size: 16px;
}
.workspace-icon {
  width: 48px;
  height: 48px;
  border-radius: 12px;
  background-color: #6366f1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.workspace-info h2 {
  font-size: 20px;
  margin-bottom: 4px;
  font-weight: 500;
}

.workspace-info p {
  color: #64748b;
  margin:0;
  padding: 0;
}
.ws-actions{
  display: flex;
  gap: 10px;
}
.ws-actions svg{
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.2s ease;
}
.ws-actions svg:hover{
  opacity: 1;
}
.btn-create-ws{
  border: none;
  color: black;
  transition: opacity 0.2s ease;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.5;
}
.btn-create-ws:hover{
  opacity: 1;
}
.bp-header{
  display:flex;
  justify-content: space-between;
}