.board-scroll {
  display: flex;
  gap: 12px;
  padding: 16px;
  overflow-x: auto;
  height: 100%;
  overflow-y: auto;
}

.board-scroll::-webkit-scrollbar {
  height: 8px;
}
.board-scroll::-webkit-scrollbar-thumb {
  background: #bbb;
  border-radius: 4px;
}

.board-column {
  background: #f8f9fa;
  border-radius: 8px;
  width: 260px;
  padding: 12px;
  flex-shrink: 0;
  height: fit-content;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  margin-bottom: 135px;
}
.column-header{
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  align-items: center;
}
.column-header h3 {
  font-size: 16px;
  margin-bottom: 4px;
  width: 80%;
}
.column-header h3:active {
  opacity: 0.6;
  cursor: grabbing;
}
.column-tool {
  display: flex;
  gap: 6px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
  color: #333333a7;
}
.edit-column-name-btn:hover, .store-column-btn:hover {
  color: #333;
  cursor: pointer;
}
.column-header:hover .column-tool{
  visibility: visible;
  opacity: 1;
}
.card-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-item {
  border-radius: 6px;
  padding: 8px;
  padding-left: 14px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  cursor: pointer;
  display: flex;
  gap: 20px;
  align-items: center;
}

.card-item p {
  max-width: 80%;
  width: 80%;
  word-wrap: break-word;       
  overflow-wrap: break-word; 
  white-space: normal;
}

.card-item:hover {
  outline: 2px solid  #0052cc;
  outline-offset: 2px;
}

.card-item:active {
  opacity: 0.6;
  cursor: grabbing;
}

.add-column {
  background: rgba(255,255,255,0.7);
  border: 2px #bbb;
  border-radius: 8px;
  width: 260px;
  min-width: 260px;
  cursor: pointer;
  font-weight: bold;
  color: #333333a9;
  padding: 12px;
  height: fit-content;
}

.add-column:hover {
  background: rgba(255,255,255,0.9);
}

.card-add{
  border-radius: 6px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  color: #333;
}

.card-add p{
  color: #555;
  font-size: 14px;
}

.card-add:hover{
  background-color: #f2f2f2;
}
.add-card {
  border: none;
  border-radius: 6px;
  padding: 6px 10px;
  cursor: pointer;
  width: 100%;
}

.add-card.blue{
  background: #0052cc;
  color: white;
}

.add-card.white{
  background: #f2f2f2;
  color: black;
}
.add-card-container input{
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 100%;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}
.add-card-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-bottom: 4.5px;
}

.add-column-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.add-column-container input{
  padding: 6px 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  max-width: 100%;
  width: 100%;
  white-space: normal;
  overflow-wrap: break-word;
}
.edit-column-input {
  width: 100%;
  font-size: 16px;
}

.error-text {
  color: red;
  font-size: 12px;
}


