.table-mode{
  padding: 16px;
  height: 100%;
  overflow-y: auto;
}

.table-view {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background: white;
  border-radius: 10px;
  flex-shrink: 0;
  height: fit-content;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  margin-bottom: 56px;
  position: relative;
  z-index:1;
  overflow: visible !important;
}

.table-view th {
  padding: 10px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.table-view td {
  padding: 10px;
  border-top: 1px solid #eee;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: static !important;
  z-index:1;
  overflow: visible !important;
}

.table-view td:hover {
  background: #f9f9ff;
}

.edit-card{
  display: flex;
  align-items: center;
  gap: 10px;
}

.edit-card input{
  font-size: 12px;
  flex: 0.5;
  max-width: 100px;
  height: 100%;
  padding-left: 5px;
  border-radius: 5px;
  outline: 2px solid  #6617e5;
}

.edit-card button{
  background: #0052cc;
  color: white;
  font-size: 12px;
  padding: 5px;
  border-radius: 5px;

}

.column-selector {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  padding: 2px 6px;
  border-radius: 4px;
  transition: background 0.2s;
  position: relative;
  z-index:1;
}

.down-icon {
  opacity: 0.6;
}

.column-cell{
  position: relative !important;
}

.move-popup-inline {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  z-index: 9999 !important;
  min-width: 140px;
  animation: fadeIn 0.15s ease-in-out;
  top:0;
  left:0;
}

.popup-item {
  padding: 8px 12px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.popup-item:hover {
  background: #f5f5f5;
}
.popup-item.active {
  background: #e9e5ff;
  font-weight: 600;
}

.labeled {
  display:inline-block;
  width:100%;
  height:30px;
  border-radius:3px;
  vertical-align:top;
}


@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.97);}
  to {opacity: 1; transform: scale(1);}
}