.trello-board {
  background: linear-gradient(135deg, #6617e5, #a2c2ff);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.board-header {
  padding: 12px 18px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5112b5;
  color: white;
}
.board-header-left {
  display: flex;
  align-items: center;
  gap: 16px;
}
.board-header-right {
  display: flex;
  align-items: center;
  gap: 15px;
}
.board-avatar {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: rgb(252, 40, 40);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 18px;
}

.star-btn {
  font-size: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: white;
}

.share-btn {
  padding: 6px 12px;
  background: rgba(255,255,255,0.3);
  border-radius: 8px;
  color: white;
  cursor: pointer;
}

.share-btn:hover {
  background: rgba(255,255,255,0.4);
}

.view-selector {
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.view-menu{
  position: absolute;
  z-index: 100;
  top: 30px;
  background: #fff;
  color: black;
  width: 100px;
  box-shadow:0 6px 18px rgba(0,0,0,0.12);
}
.view-menu li {
  padding:5px 15px;
  font-size: 16px;
  width:100%;
}

.view-menu li:hover{
  background: #f2f2f2;
}

.view-menu .active-mode{
  background: #a2c2ff;
}

.menu-board{
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-board:hover{
  background: rgba(255,255,255,0.3);
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.97);}
  to {opacity: 1; transform: scale(1);}
}