.trello-board {
  background: linear-gradient(135deg, #6617e5, #a2c2ff);
  border-radius: 12px;
  position: relative;
  overflow: hidden;
  max-height: 100%;
}
.board-header{
  padding: 15px;
  width: 100%;
  background-color: #5112b5;
  color: white;
  align-items: center;
  display: flex;
  gap: 20px;
}

.view-selector {
  padding: 6px 10px;
  font-size: 14px;
  cursor: pointer;
  position: relative;
}
.view-menu{
  position: absolute;
  z-index: 100;
  top: 30px;
  background: rgb(225, 225, 225);
  color: black;
}
.view-menu li {
  padding:5px 10px;
}

.view-menu li:hover{
  background: #f2f2f2;
}

.view-menu .active-mode{
  background: #f2f2f2;
}

@keyframes fadeIn {
  from {opacity: 0; transform: scale(0.97);}
  to {opacity: 1; transform: scale(1);}
}