.popup-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-container {
  width: 420px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  position: relative;
}

.popup-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.close-btn {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.label {
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
}

.bg-tabs {
  display: flex;
  gap: 6px;
  margin-bottom: 10px;
}

.tab, .active-tab {
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f5f5f5;
  cursor: pointer;
  font-size: 13px;
}

.active-tab {
  background: #0052cc;
  color: #fff;
  border-color: #0052cc;
}

.bg-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 15px;
  min-height: 120px;
}

.bg-item {
  width: 100%;
  height: 55px;
  border-radius: 8px;
  cursor: pointer;
  background-size: cover;
  background-position: center;
}

.bg-img {
  border: 1px solid #ddd;
}

.active-bg{
  outline: 2px solid  #0052cc;
  outline-offset: 2px;
}
.section-cbp {
  margin-top: 15px;
}

.title-input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.dropdown-wrapper {
  position: relative;
}

.dropdown-btn {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  background: #f9f9f9;
  cursor: pointer;
  text-align: left;
}

.dropdown-menu {
  position: absolute;
  top: -220px;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 8px;
  padding: 8px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
  z-index: 10;
}

.dropdown-item {
  padding: 8px;
  border-radius: 6px;
  cursor: pointer;
}

.dropdown-item:hover {
  background: #f2f2f2;
}

.item-title {
  font-weight: 600;
}

.item-desc {
  font-size: 12px;
  color: #555;
}

.create-btn {
  width: 100%;
  margin-top: 18px;
  padding: 12px;
  border-radius: 6px;
  background: #0052cc;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 15px;
}

.create-btn.disabled {
  background: #bdbdbd;
  cursor: not-allowed;
}
