.man-table-container {
  font-family: 'Segoe UI', sans-serif;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f5f6fa;
  padding-top: 60px;
}

.main-content {
  display: grid;
  grid-template-columns: 260px 1fr 2fr;
  gap: 16px;
  padding: 16px;
  height: 100%;
  overflow: hidden;
}