.sidebar {
  width: 240px;
  background: #f9fafb;
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  overflow-y: auto;       
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none;         
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-option, .template-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: #334155;
  transition: all 0.2s ease;
  cursor:pointer;
}

.sidebar-option p {
  margin-left: 30%;
  margin-right: 28%;
  font-size: 15px;
}

.sidebar-option:hover, .template-item:hover {
  background-color: #eee;
}

.sidebar-option.active {
  background-color: #dbeafe;
  color: #1d4ed8;
}
.template-wrapper{
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}
.template-wrapper.open{
  max-height: 500px; 
  opacity: 1;
}

.template-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.template-item {
  font-size: 15px;
  text-decoration: none;
  transition: color 0.2s;
  padding-left: 40%;
}

.template-item:hover {
  color: #2563eb;
}
.workspace {
  border-top: 2px solid #eee;
  margin-top: 12px;
  padding: 0 8px;
}

.workspace-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px;
  font-size: 13px;
  font-weight: 600;
  color: #475569;
}

.workspace-header svg {
  cursor: pointer;
  color: #64748b;
}

.workspace-header svg:hover {
  color: #1d4ed8;
}

.workspace-list {
  list-style: none;
  padding: 0;
  margin: 4px 0 0 0;
}

.workspace-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 10px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  color: #334155;
  transition: background 0.15s ease;
}
.workspace-item h2{
  font-size: 15px;
  font-weight: 600;
}

.workspace-item:hover {
  background: #eee;
}
.workspace-avatar {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background: #6366f1;
  color: #fff;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
}
.workspace-wrapper{
  overflow: hidden;
  transition: max-height 0.2s ease;
  max-height: 0;
}
.workspace-wrapper.open{
  max-height: 500px; 
  opacity: 1;
}
.workspace-option{
  display: flex;
  align-items: center;
  padding: 10px 16px;
  padding-left: 20%;
  text-decoration: none;
  color: #334155;
  transition: all 0.2s ease;
  cursor:pointer;
}

.workspace-option p {
  margin-left: 20px;
  font-size: 15px;
}

.workspace-option:hover {
  background-color: #eee;
}
