.sidebar {
  width: 300px;
  padding-left: 10px;
  padding-right: 10px;
  /* background: #f9fafb; */
  border-right: 1px solid #e5e7eb;
  display: flex;
  flex-direction: column;
  padding-top: 16px;
  overflow-y: auto;       
  scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
  display: none;         
}

.sidebar-options {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.sidebar-option, .template-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  text-decoration: none;
  color: #334155;
  transition: all 0.2s ease;
  cursor:pointer;
}

.sidebar-option p {
  margin-left: 30%;
  margin-right: 28%;
  font-size: 15px;
}

.sidebar-option:hover, .template-item:hover {
  background-color: #eee;
}

.sidebar-option.active {
  background-color: #dbeafe;
  color: #1d4ed8;
}

.template-wrapper{
  overflow: hidden;
  transition: max-height 0.3s ease;
  max-height: 0;
}
.template-wrapper.open{
  max-height: 500px; 
  opacity: 1;
}

.template-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 8px;
}

.template-item {
  font-size: 15px;
  text-decoration: none;
  transition: color 0.2s;
  padding-left: 40%;
}

.template-item:hover {
  color: #2563eb;
}
.template-toggle {
  cursor: pointer;
}
