@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "EB Garamond", serif;
}
body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x:hidden;
}
a{
  text-decoration: none;
  color: inherit;
}
@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}