.app {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #1e293b;
  background-color: #ffffff;
}

.main-layout {
  display: flex;
  flex: 1;
  height: calc(100vh - 50px); 
}


.page-content {
  flex: 1;
  padding: 35px;
  overflow-y: auto;
}

.fullpage-content {
  padding-top: 50px;
  flex: 1;
  height: calc(100vh - 60px);
  overflow: hidden;
}